# Data Preparation Basics

## 3. Removing duplicates

In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

### Removing duplicates

In [2]:
DF_obj = DataFrame({'column 1': [1,1,2,3,3,4,4,5],
                   'column 2': ['a', 'a', 'b', 'c', 'c', 'd', 'e', 'e'],
                   'column 3': ['A', 'A', 'B', 'C', 'C', 'D', 'E', 'E']})
DF_obj

   column 1 column 2 column 3
0         1        a        A
1         1        a        A
2         2        b        B
3         3        c        C
4         3        c        C
5         4        d        D
6         4        e        E
7         5        e        E

In [5]:
# Checking row wise, it shows True when its previous and current row same
DF_obj.duplicated()

0    False
1     True
2    False
3    False
4     True
5    False
6    False
7    False
dtype: bool

In [6]:
# Dropping the duplicate row
DF_obj.drop_duplicates()

   column 1 column 2 column 3
0         1        a        A
2         2        b        B
3         3        c        C
5         4        d        D
6         4        e        E
7         5        e        E

In [7]:
DF_obj = DataFrame({'column 1': [1,1,2,3,3,4,4,5],
                   'column 2': ['a', 'a', 'b', 'c', 'c', 'd', 'e', 'e'],
                   'column 3': ['A', 'A', 'B', 'C', 'C', 'D', 'E', 'E']})
DF_obj

   column 1 column 2 column 3
0         1        a        A
1         1        a        A
2         2        b        B
3         3        c        C
4         3        c        C
5         4        d        D
6         4        e        E
7         5        e        E

In [8]:
# Checking column wise
DF_obj.drop_duplicates(['column 3'])

   column 1 column 2 column 3
0         1        a        A
2         2        b        B
3         3        c        C
5         4        d        D
6         4        e        E